doctype html
include head.pug
body
  .container
    h3.text-center #{ myName }'s Category Points
    .profile-pic
      img(src=imageSrc, alt="profile pic").img-responsive.img-rounded
    .pointsDiv.text-center
      table.table.table-condensed.table-bordered
        tbody
          tr
            th.text-center Category
            th.text-center Points
          each val, index in points
            tr
              td= `${index}`
              td= `${val}`
    .search.text-center
      a(href="/").btn.btn-warning Search Again