doctype html
include head.pug
body
  .container-fluid
    h3.text-center #{ myName }'s Category Points
    img(src=imageSrc)
    .pointsDiv.text-center
      table.table.table-condensed.table-bordered
        tbody
          tr
            th.text-center Category
            th.text-center Points
          each val, index in points
            tr
              td= `${index}`
              td= `${val}`
    .search.text-center
      a(href="/").btn.btn-warning Search Again