doctype html
html
  include head.pug
  title Treehouse Lookup
  body
    .container-fluid
      .row
        #search.col-md-4.col-md-offset-4
          h3.text-center Treehouse Lookup
          form(action='/search', method="POST")
            .form-group
              input(type='text', placeholder='username', class="form-control", name="username" required)
              .button.text-center
                button(type="submit" class="btn btn-primary") Search
