doctype html
html(lang="en")
  include head.pug
  title Treehouse Lookup
  body
    .container
      .justify-content-center.form
        h3.text-center Treehouse Lookup
        form(action='/search', method="POST")
          .form-group
            input(type='text', placeholder='username', class="form-control form-control-sm", name="username" required)
            .button.text-center
              button(type="submit" class="btn btn-primary") Search
