div#search {
  margin-top: 140px;
}
.button {
  margin-top: 10px;
}
div.profile-pic {
  max-height: 200px;
  max-width: 200px;
  margin: 20px auto 20px auto;
}
div.pointsDiv {
  max-width: 400px;
  margin: 0 auto;
}
