* {
  box-sizing: border-box;
}
.App {
  text-align: center;
}

#main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

#badge-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
