.profile-img {
  max-height: 100px;
  max-width: 100px;
}

#profile {
  overflow: hidden;
  max-width: 50%;
  padding-bottom: 5px;
  border-bottom: 1px solid gray;
}

div.img {
  display: inline;
}
#profile img {
  display: inline;
}
